<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script> 

<h1>Desafio 5 WebSockets - HandleBars</h1>

<hr />

<div class="container">
<h2>Ingresa un producto</h2>
    {{> form}}

     
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col">#</th>
                        <th class="col">Título</th>
                        <th class="col">Precio</th>
                        <th class="col">Imagen</th>
                    </tr>
                </thead>

                <tbody>

            {{#each productos}}
 
                {{> tableProduct}}
            {{/each}}
                </tbody>
            </table>
            <div class="col">
        
        
    </div>

        <form action="">
      <input type="text" name="nombre" id="nombre" />
      <input type="text" name="mensaje" id="mensaje" />
      <button type="submit" id="send">Enviar</button>
    </form>

    <div id="chat">
      <ul id="messages"></ul>
    </div>

</div>





