extends ../index



block main
    include ../mixins/form
    include ../mixins/cardProduct
    h1 Desafio 4 PUG 
    hr

    if (mostrarProductos)
        div.container
            div 
                h2 Productos
            div.row
                each producto in productos
                     +cardProduct(producto.title, producto.thumbnail, producto.price)

            a(href="/").btn.btn-primary.m-3 Volver
    else                    
        div.container
            div 
                h2 Ingresa un producto
            +form
            a(href="/productos").btn.btn-primary.m-3 Mostrar Productos 

